<h3>Deliverables Due:</h3>
<% task_types.each do |task_type| %>
  <% if task_type.tasks_due? %>
    <b><%= task_type.name %>:</b>
    <table class="fixed">
      <% task_type.tasks.each do |task| %>
        <% if task.due? and task.completed == false %>
            <%= render partial: 'deliverable_form', locals: {task: task, pod: task.pod} %>
        <% end %>
      <% end %>
    </table>
    <% end %>
<% end %>
