<h1>Editing Task Type</h1>

<%= render 'form', task_type: @task_type %>

<%= link_to 'Back', task_types_path %> |
<%= link_to 'Delete Task Type', @task_type, method: :delete, data: { confirm: 'Are you sure you want to delete this task type?' } %>
