<table>
  <tr>
    <td><%= link_to 'January', '#' %></td>
    <td><%= link_to 'February', '#' %></td>
    <td><%= link_to 'March', '#' %></td>
    <td><%= link_to 'April', '#' %></td>
  </tr>
</table>
