<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Count</th>
      <th>Percentage</th>
    </tr>
  </thead>
  <tbody>
    <% @state_ranking.each do |state| %>
    <tr>
      <td><%= state.name %></td>
      <td><%= state.pod_count %></td>
      <td><%= ((state.pod_count / @pod_count) * 100).round(2) %>%</td>
    </tr>
    <% end %>
  </tbody>
</table>
