<p id="notice"><%= notice %></p>

<h1>Countries</h1>
<% @countries.each do |country| %>
  <% if country.pods.exists? %>
    <%= render partial: "country_pods", locals: {country: country} %>
  <% end %>
<% end %>
