<h3>Navigation Options</h3>
<ul class="nav nav-stacked" id="sidebar">
  <li><%= link_to 'Dashboard', dashboard_path %></li>
  <li><hr></li>
  <li><%= link_to 'Schedule', travel_dates_path %></li>
  <li><%= link_to "Grantees", grantees_path %></li>
</ul>
